%h1 Overview
%p Basic project skeleton is set up, project management tools are set up, FragFest killed my only shot at getting any functionality in this iteration.

%h2 The Good
%ul
  %li Project builds and passes all (one) tests
  %li Pivotal Tracker and Github are set up

%h2 The Bad
%ul
  %li No functionality yet
