%h1 Overview
%p Bits and pieces of the Pac-Man example are sketched out and are being compiled by Pantheon. So far, only the intro screen is actually accessible, which just has a label with the text "Hello World!".

%h2 The Good
%ul
  %li Pac-Man example is operational
  %li Controllers can be defined and tested
  %li Screens can be defined and displayed
  %li Proved out rendering with AllegroSharp+Pantheon early to reduce risk

%h2 The Bad
%ul
  %li
    %p Scope explosion
    %p I've found a lot of extra dark corners that my original schedule doesn't take into account. I don't have enough stories in Pivotal yet to tell if this is something to worry about, but if it is then I'll have to talk about reducing scope and adjusting my milestones.
