%h1 Overview
%p No real progress was made, due to a planned vacation. I had some ideas on how to structure some parts of Pantheon and how to describe the concepts behind it.

%h2 The Good
%ul
  %li Still got some work done while sitting around the fire.

%h2 The Bad
%ul
  %li No tangible progress this week, although this was expected.
